@{
    ViewData["Title"] = "Home Page";
}
@section Styles {

}

<div class="text-center">
    <a asp-controller="Application" asp-action="SetApplicationType" asp-route-applicationType="NewMaterialsItems" class="btn btn-primary btn-lg mb-4">Create New Requisition</a>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", async function() {
            // Example usage of appCore and appNotification
            @* appNotification.show("Welcome to the Home Page!", "success", 3000);
            appNotification.show("This is an info message.", "info", 5000);
            appNotification.show("Warning! Check your input.", "warning", 7000);
            appNotification.show("Error occurred while loading data.", "error", 10000); *@

            // Example usage of appDialog
            const result = await appDialog.confirm({
                title: "Please Confirm",
                message: "Do you want to proceed with this action?",
                okText: "Yes",
                cancelText: "No"
            });

            if (result) {
                AppLoading.show("Processing your request...");
                // Simulate some processing time
                setTimeout(() => {
                    appLoading.hide();
                    appNotification.show("Action completed successfully!", "success", 3000);
                }, 3000);
            } else {
                await appLoading.wrap(async () => {
                    // Simulate some processing time
                    return new Promise((resolve) => {
                        setTimeout(() => {
                            resolve();
                        }, 2000);
                    });
                }, "Cancelling the action...");
            }

            setTimeout(() => {
                appDialog.alert({
                    title: "Alert",
                    message: "This is an important alert message.",
                    okText: "Got it"
                });
            }, 20000);
        });
    </script>
}