@{
    ViewData["Title"] = "Application History Report";
}

@section Styles {
    <link rel="stylesheet" href="~/css/grid.css" asp-append-version="true" />
}

<div class="container-fluid">
    <div class="jp-minimal-header">
        <h2>Application History Report</h2>
        <p>View and manage application history reports using the grid below.</p>
    </div>
    <div class="grid-wrapper">
        <div id="gridApplicationHistoryReport"></div>
    </div>
</div>
@section Scripts {
    <partial name="_GridScripts" />
    <script src="~/js/grids/reports/application-history-report-config.js"></script>
    
    <script>
        $(document).ready(function () {
            const grid = GridFactory.createGrid(ApplicationHistoryReportGridConfig);
        });
    </script>
}