@{
    ViewData["Title"] = "File Attachment Report";
}
@section Styles {
    <link rel="stylesheet" href="~/css/grid.css" asp-append-version="true" />
}

<div class="container-fluid">
    <div class="jp-minimal-header">
        <h2>File Attachment Report</h2>
        <p>View and manage file attachment reports using the grid below.</p>
    </div>
    <div class="grid-wrapper">
        <div id="gridFileAttachmentReport"></div>
    </div>
</div>

@section Scripts {
    <partial name="_GridScripts" />
    <script src="~/js/grids/reports/file-attachment-report-config.js"></script>
    
    <script>
        $(document).ready(function () {
            const grid = GridFactory.createGrid(FileAttachmentReportGridConfig);
        });
    </script>
}