@{
    ViewData["Title"] = "Data Material";
}

@section Styles {
    <link rel="stylesheet" href="~/css/grid.css" asp-append-version="true" />
}

<div class="container-fluid">
    <div class="jp-minimal-header">
        <h2>Data Material Management</h2>
        <p>Manage your data materials efficiently using the grid below.</p>
    </div>
    <div class="grid-wrapper">
        <div id="gridDataMaterial"></div>
    </div>
</div>

@section Scripts {
    <partial name="_GridScripts" />
    <script src="~/js/grids/configs/data-material-grid-config.js"></script>
    
    <script>
        $(document).ready(function () {
            const grid = GridFactory.createGrid(DataMaterialGridConfig);
        });
    </script>
}