@{
    ViewData["Title"] = "Category Management";
}
@section Styles {
    <link rel="stylesheet" href="~/css/grid.css" asp-append-version="true" />
}

<div class="container-fluid">
    <div class="jp-minimal-header">
        <h2>Category Management</h2>
        <p>Manage your category settings efficiently using the grid below.</p>
    </div>
    <div class="grid-wrapper">
        <div id="gridCategoryManagement"></div>
    </div>
</div>
@section Scripts {
    <partial name="_GridScripts" />
    <script src="~/js/grids/managements/category-management-config.js"></script>
    
    <script>
        $(document).ready(function () {
            const grid = GridFactory.createGrid(CategoryManagementGridConfig);
        });
    </script>
}