@{
    ViewData["Title"] = "Supplier Settings";
}

@section Styles {
    <link rel="stylesheet" href="~/css/grid.css" asp-append-version="true" />
}

<div class="container-fluid">
    <div class="jp-minimal-header">
        <h2>Supplier Management</h2>
        <p>Manage your supplier settings efficiently using the grid below.</p>
    </div>
    <div class="grid-wrapper">
        <div id="gridSupplierManagement"></div>
    </div>
</div>

@section Scripts {
    <partial name="_GridScripts" />
    <script src="~/js/grids/configs/data-supplier-grid-config.js"></script>
    <script src="~/js/grids/managements/supplier-management-config.js"></script>
    
    <script>
        $(document).ready(function () {
            const grid = GridFactory.createGrid(SupplierManagementGridConfig);
        });
    </script>
}